*{
    padding: 0%;
    margin: 0%;
    font-family: "Gilroy";
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
}

.main{
    height: 100%;
    width: 100%;
    background-color: #CBCBCB;
    padding-top: 1px;
    position: relative;

}
#nav{
    /* position: absolute; */
    height:100px;
    width:100%;
    /* background-color: aqua; */
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    
}
#nav h1{
    padding-left: 20px;
    padding-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* border-right: 2px solid black; */
    font-family: "Monument Extended";
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -1px;
}
#nav h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-size: 23px;
    font-weight: 590;
}
#nav h2:nth-last-child(2){
    padding: 0 160px;
}
#nav h2:nth-last-child(1){
    width: fit-content;
    padding: 0 150px;
    justify-content: start;
    border-right: 0;
    
    }
#nav h2 i{
    font-size: 30px;
    font-weight: 500;
}
#center{
    height: 90%;
    position: relative;
    /* background-color: aquamarine; */
    padding: 3.5vw ;
}    
#content{
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: blue;   */
    
}
#content video {
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 55%;
    width: 100%;
    /* background-color: red; */
    bottom: 0;
    position: absolute;
    padding: 2.5vw;
}
#over1{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255);
}
#over1 h1{
    font-size: 40px;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px 23px ;
    border-radius: 100%;
    border-right: 5px solid white;
    font-weight: 500;
}
#over1 p{
    font-size: 70px;
    padding: 20px 0px;
    mix-blend-mode:overlay;
    
    font-family: "Monument Extended";
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}
#over2 h2{
    font-size: 30px;
    font-weight: 500;
}
#over2 img {
    height: 5vw;
}
