*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
}

main,body{
    height:100%;
    width: 100%;
    

}




.nav{
    height: 60px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
    font-family:"Montserrat", sans-serif;
    font-weight: 100;
}
.nav i{
    padding: 10px;
    border-radius: 50%;
    
    border:  solid rgb(0, 0, 0);
    
}
.center{
    background-color: blue;
    font-size: 60px ;
    padding: 60px 40px;
    font-family: "Montserrat",sans-serif;
}
.center-bottom{
    
    height:auto;
    /* padding-bottom: 100px; */
    padding: 40px;
    line-height: 1.5;
    font-size: 16px;
    background-color: brown;
    display: flex;
    justify-content:space-between
    
}
.left{
    background-color: blanchedalmond;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: aqua;
    width: 200px;
}
.right h4{
    /* gap: 40px; */
    border-top: solid black;
    display: flex;
    justify-content: space-between;

}
.right h4 i{
    display: none;
}
.right h4:hover{
    i{
        display: initial;
    }
}